.floatingIconsContainer {
  position: fixed;
  bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  left: 45px; 
  z-index: 80;
  background-color: transparent;
}

.linkedinIcon,
.youtubeIcon {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  list-style: none;
  font-size: 25px;
}

.youtubeIcon{
  margin-left: 3px;
}
.youtubeIcon img{
  width: 19px;
  height: auto;
}

.textIcon{
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
}

.scrollButton {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 40px; /* Posiciona en la parte inferior derecha */
}
.scrollButton img{
  width: 25px;
  height: auto;
  /* transform: rotate(90deg); */
}


.white span {
  color: white;
}

.black span {
  color: #291C05 ;
}
  
.hide {
  display: none;
}

@media screen and (max-width: 767px) {
  .scrollButton img{
   width: 17px;
  }
}