
.container{
    background: #1e1405;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.big-text, 
.small-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.small-text span {
    color: #fffff6;
    font-size: 1rem;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
}
.small-text .line{
    height: 2px;
    width: 50%;
    background: #715e44;
    margin: 20px 0 50px;
}

.big-text span {
    color: #fffff6 !important;
    font-size: 3.75rem;
    font-weight: 300;
    font-style: normal;
    font-family: "Periodico";
    text-decoration: none;
    color: inherit;
}
.big-text span:nth-child(3){
    margin-bottom: 20px;
}

.email{
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width:1023px) {
    .big-text span {
        font-size: 2rem;
        
    }
}

@media screen and (max-width:767px) {
    .small-text span {
        font-size: 20px;
    }
    .big-text span {
        color: #fffff6;
        font-size: 23px;
    }
    .small-text .line{
        margin: 10px 0 30px;
    }
}