.sectionPackHouse {
    width: 100vw;
    height: 100vh;
    background-color: #fbf8f8;
    position: relative;
  }
  
  .PackHouseArticle {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%; /* Llevará la parte superior del h2 al 50% de altura del div */
    left: 50%; /* Llevará la izquierda del h2 al 50% del ancho del div */
    transform: translate(-50%, -50%); /* Centrar completamente el h2 */
  }
  
  .PackHouseArticle div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .PackHouseArticle button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    /* font-weight: 300; */
    font-size: 1.3rem;
  }
  
  .PackHouseArticle div p {
    font-weight: 700;
    font-size: 1rem;
  }
  
  .imagen {
    width: 55vw;
    height: 30vw;
  }
  .divLogo{
    height: 2px;
    position: relative;
  }
  
  .LogoPackHouse{
   position: absolute;
   border-radius: 50%;
   width: 8vw;
   height: 8vw;
   right: 0;
   margin-right: -3.5vw;
   top: -12vw;
  
  }
  
  
  
  @media screen and (min-width: 1800px) {
    .PackHouseArticle button {
      font-size: 2.4rem;
    }
  
    .PackHouseArticle div p {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 1000px) {
  
    /* .sectionPackHouse {
          height: 400px;
    } */
  
    .PackHouseArticle button {
      font-size: 13px;
    }
  
    .PackHouseArticle div p {
      font-size: 12px;
    }
  
    .imagen {
      width: 60vw;
      height: 35vw;
    }
    
  }
  
  
  @media (max-width: 500px) {
  
      /* .sectionPackHouse {
          height: 300px;
    } */
  
      .imagen {
          width: 85vw;
          height: 60vw;
        }
  
        .LogoPackHouse{
          width: 15vw;
          height: 15vw;
          right: 0;
          margin-right: -7vw;
          top: -18vw;
         
         }
         
  
  }
  