/* index.module.css */
/* .section {
  height: 100vh;
  transition: background-color 0.3s;
}

.white {
  background-color: white;
}

.black {
  background-color: rgb(173, 5, 5);
} */

.section1{
  background-color: black;
  height: 100vh;
  transition: background-color 0.3s;
}
.section2{
  background-color: white;
  height: 100vh;
  transition: background-color 0.3s;
}
.section3{
  background-color: black;
  height: 100vh;
  transition: background-color 0.3s;
}