.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 80%;
  max-width: 1200px;
  position: absolute;
}
.imgDesktop{
  max-height: 100vh;
}

.card {
  width: 270px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.card img {
  width: 100%;
  height: auto;
}

.card h2 {
  font-size: 14px;
  text-align: center;
  margin: 16px 0;
}

.card p {
  font-size: 14px;
  text-align: center;
}

.card:last-child {
  margin-right: 0;
  /* Quitamos el margen derecho de la última tarjeta */
}

.swiperContainer {
  display: none;
}

@media (max-width: 767px) {
  .container img {
    width: auto;
    height: 100%;
  }

  .cardsContainer {
    display: none;
  }

  .card {
    margin: 10px 0;
    /* Espacio vertical entre tarjetas en dispositivos móviles */
  }



  .swiperContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 95%;
    right: 0;
  }

  .slideContent {
    width: 100%;
  }

  .cardMobile {
    width: 300px;
    height: 423px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .cardMobile img {
    width: 100%;
    height: auto;
  }

  .cardMobile h2 {
    font-size: 16px;
    text-align: center;
    margin: 16px 0;
  }

  .cardMobile p {
    font-size: 14px;
    text-align: center;
  }

}