

.custom-modal {
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 0;
    /* transition: opacity .3 ease-in-out; */
  }
  
  .custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-modal.opened {
    /* opacity: 1 */
  }

  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
