.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2.5rem 1rem;
  background-color: transparent;
  color: white;
  position: relative;
}
.navbarToggleDer{
  justify-content: flex-end;
  /* background-color: #e8e5e5; */
}
.hide {
  display: none;
}


.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.menuIzq {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.white div {
  color: white;
}

.black div {
  color: black;
}

.white button {
  color: white;
}

.black button {
  color: #291C05 ;
}

.white span {
  color: white;
  background-color: white;
}

.black span {
  color: #291C05 ;
  background-color: #291C05 ;
}

.logo {
  margin-left: 1rem;
  font-size: 1.5rem;
  position: relative;
}

.logo img{
  height: 60px;
  width: auto;
  position: absolute;
  top: -15px;
  left: -15px;
  cursor: pointer;
}

.navbarToggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 200;
}

.navbarToggle i{
  font-size: 25px;
}

.iconx{
  color: #291c05;
  width: 25px !important;
  height: auto;
}
.navbarToggle img{
  width: 20px;
  height: auto;
}

.icon {
  width: 24px;
  height: 3px;
}

.menu {
  list-style: none;
  background-color: #e8e5e5;
  position: absolute;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  
}

/* Define la animación para cerrar */
@keyframes slideOut {
  from {
    transform: translateY(0);  
  }
  to {
    transform: translateY(-100%);
  }
}

/* Aplica la animación al cerrar */
.menu-slide-out {
  /* animation: slideOut 1s ease-in-out; */
  transition: all 1s ease-out;
  top: -100vh;
}

/* Define la animación */
@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Aplica la animación */
.menu-slide-in {
  animation: slideIn 1s ease-in-out;
  top: 0;
}



.menu li {
  cursor: pointer;
  transition: background-color 0.3s;
  color: #291c05;
  margin:0 auto;
  font-size: 48px;
  font-weight: 600;
  border-bottom: 1px solid #504633;
  width: 95%;
  height: 16.6vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#borderLi {
  border-bottom: none;
}

.menu li:hover {
  background-color: #555;
  color: #fff;
}


/* ... estilos languageButtons ... */

.languageButtons {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.languageButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}

.languageButton:focus {
  outline: none;
}

.activeLanguage {
  font-weight: 600;
}

.languageSeparator {
  color: white;
  margin: 0 0.5rem;
  width: 2px;
  height: 15px;
  background-color: rgb(0, 0, 0);
}

/* ... estilos hamburguesa ... */

.open .icon:nth-child(1) {
  transform: rotate(45deg) translate(8px, 6px);
  background: #504633;
}

.open .icon:nth-child(2) {
  opacity: 0;
}

.open .icon:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -4px);
  background: #504633;
}


/* ------- TABLET ---------- */
@media screen and (max-width: 1023px) {
  .menu li {
    font-size: 24px;
  }
}

/* ------- MOBILE ---------- */
@media screen and (max-width: 767px) {
  .navbar{
    padding: 1rem 1.5rem;
  }
  .menu{
    height: 98vh;
  }
  .menu li {
    font-size: 18px;
  }

  .logo {
    border: 1px solid red;
  }

  .logo img{
    height: 45px;
    width: auto;
  }
}