.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #fff;
    color: #291C05;
}

.swiperContainer {
    width: 100%;
    max-width: 55vw;
    position: relative;
}

.slideContent {
    width: 100%;
}

.card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 55vw;
    height: 30vw;
}

.card img {
    width: 100%;
    height: auto;
    margin: 0;
}

.text {
    width: 60%;
}

/* Image count */

.imageCount {
    display: flex;
    flex-direction: row;
    font-size: 1.125rem;
    font-weight: 600;
}

.navegation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -35px;
    left: -1.6%;
    width: 56.5vw;
}

.divLogo {
    height: 2px;
    position: relative;
}

.LogoPackHouse {
    position: absolute;
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    right: -8px;
    margin-right: -3.5vw;
    top: -11vw;
    z-index: 50;
}

@media screen and (max-width: 767px) {
    .swiperContainer {
        width: 100%;
        max-width: none;
        padding: 0;
        margin: 0 0 0 auto;
        background: #fff;
        height: auto;
    }

    .card {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        padding: 0;
        background: #faf8f8;
    }

    .card img {
        width: 100%;
    }

    .imageCount {
        font-weight: 600;
    }

    .divLogo {
        display: none;
    }

    .navegation {
        width: 100vw !important;
        left: 0 !important;
    }
}

