#button-navegation-prev {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -45px;
    left: -15px;
    /* z-index: 150; */
    transition-duration: 0.4s;
    cursor: pointer;
    background: transparent;
    border: none;
}

#button-navegation-prev i {
    color: #291C05 ;
    font-size: 30px;
}

#button-navegation-next {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -45px;
    right: -14px;
    /* z-index: 150; */
    transition-duration: 0.4s;
    cursor: pointer;
    background: transparent;
}

#button-navegation-next i {
    color: #291C05 ;
    font-size: 30px;
}

.none{
    border: none;
    background: transparent;
}

.none i{
    color: #9b9b9b !important;
}

.active {
    background: transparent;
    border: none;
}

.active i {
    color: #291C05  !important;
}


@media screen and (max-width: 767px){
    #button-navegation-prev {
        width: 40px;
        height: 40px;
        top: -37px;
        left: 10px;
       
    }
    
    #button-navegation-next {
        width: 40px;
        height: 40px;
        top: -37px;
        right: 10px;
        
    }
}
